.menu-icon{
color:#A7233A;
font-size:70px;
margin:20px;
}


.show-header{
    position:fixed;
    top:0;
    right:0;
}
.show-header li{
    color:white;
    list-style: none;

}

.show-header a{
    color:white;
    text-decoration: none;
   

}